<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add  key="ipaddress" value="10.211.55.3"/>
    <add  key="serveripaddress" value="10.211.55.3"/>
  </appSettings>
</configuration>